name: Update Run
permissions:
  contents: write

on:
  schedule:
    - cron: '0 12 * * *' # Runs every day at 12:00 UTC
  workflow_dispatch:

jobs:
  update-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y python3 python3-pip
          pip3 install -r requirements.txt

      - name: Run your script or command
        run: |
          ./socks5.py --all
          ./foxyproxy-exporter.py

      - name: Configure Git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Commit and push changes
        run: |
          git add .
          git commit -m "Automated update."
          git push origin main
          curl -m 10 --retry 3 -s https://hc-ping.com/52cadfc8-9f82-4e6c-aa12-9928330819ae

